<div class="jumbotron">
  <p class="lead">
    <img src="images/rock-paper-scissors.png" alt="curleh moustache!"><br>
  </p>
  <form class="form-players">
    <p>
      <div class="input-group">
        <span class="input-group-addon">Player 1</span>
        <input type="text" class="form-control" ng-model="playerOne" placeholder="Your name here">
      </div>
    </p>
    <p>
      <div class="input-group">
        <span class="input-group-addon">Player 2</span>
        <input type="text" class="form-control" ng-model="playerTwo" placeholder="Your bud's name here">
      </div>
    </p>
    <p><a class="btn btn-lg btn-success" ng-click="register()">Play! <span class="glyphicon glyphicon-ok"></span></a></p>
  </form>
</div>
